body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
}
#wrapper{
    width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border: thin solid black;
}

header {
    background-color: aqua;
    width: 70%;
    margin: 30px auto;
    padding: 50px 30px 100px 3px;

}
figure{
    border:thin solid black;
    width: 200px
}
img{
    width:200px
}
header h1{
    margin-bottom: 0;
    border: 3px solid red;

}
nav a{
    color: #AAA;
    height: 200px;
}