body{
    font-family: Arial, Helvetica, sans-serif;
}
fieldset{
    box-shadow: 3px 3px 3px rgba(20, 20, 20, 0.5);
    background-color: aquamarine;
}
legend{
    border: thin solid #000;
    background-color: blue;
    color: white;
}
.checkbox-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.checkbox-row label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form-row input{
    padding: 5px;
    border-radius: 5px;
    background-color: #DDD;
}
.form-row input:focus{
    background-color: white;
}
.form-row{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.form-row label{
    width: 150px;
    text-align: right;
}
.spacer{
    width: 150px;
}
@media only screen {
    
    
}